<h1><%= user.username %></h1>

<div class="col-md-6">
  <form action="/users/<%= user.id %>/tasks/create" method="POST">
    <input type="text" name="title" placeholder="Title">
    <input type="submit" name="">
  </form>

  <h2>Tasks</h2>
  <% if (user.Tasks.length > 0) { %>
    <ul>
      <% for (let task of user.Tasks) { %>
        <li>
          <strong><%= task.title %></strong>
          <a href="<%= `/users/${user.id}/tasks/${task.id}/destroy`%>">Delete</a>
        </li>
      <% } %>
    </ul>
  <% } else { %>
    <p>This user has no tasks</p>
  <% } %>
</div>
